<div class="jumbotron bg-white  mt-4">
    <h1 class="display-4">Node app with Mongo DB</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam hic corporis, consectetur sint rerum ab, nostrum totam, iusto numquam quidem quas ipsum ipsa eius consequuntur illo tenetur. Id, totam tempora?
    </p>
    <a 
        href="https://github.com/genaro14/genaro14" 
        class="btn btn-primary btn">
        Github
    </a>
</div>
