<!-- Footer -->
<footer class="font-small blue">
  <div class="simple-footer text-center py-3"> 
    <a href="https://github/genaro14" class="btn btn-outline-light text-right" role="button" aria-pressed="true">Github</a>
  </div>

</footer>
<!-- Footer -->