<!-- Footer -->
<footer class="bg-dark text-center ">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      GITHUB<a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/genaro14" role="button"><i class="fab fa-github"></i></a>
    </section>

    <!-- Section: Links -->
    <section class="mx-auto">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
          <h5 class="text-uppercase">Register</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/users/signup" class="text-light btn btn-outline-light btn-rounded">Sing Up!</a>
            </li>
           
          </ul>
        </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
          <h5 class="text-uppercase">Login</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/users/signin" class="text-light btn btn-outline-light btn-rounded">Sign In</a>
            </li>
           
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
          <h5 class="text-uppercase">Logout</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/users/logout" class="text-light btn btn-outline-light btn-rounded">Exit</a>
            </li>
           
          </ul>
        </div>
        
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
     2022:
    <a class="text-dark btn btn-light btn-rounded" href="https://github/genaro14">GP</a>
  </div>

</footer>
<!-- Footer -->